{% extends "holidays/base.html" %}
{% block content %}
From: {{ detail.source }}<br>
To: {{ detail.destination }}<br>
{% if detail.discount_price %}        
        <h3>Rs {{ detail.discount_price }}</h3>
        <strike><h3>Rs {{ detail.price }}</h3></strike><br>
    {% else %}
        <h3>Rs {{ detail.price }}</h3><br>
    {% endif %}
<a href="{% url 'holidays:flight_booking_create' detail.id %}"><button type="button" class="btn btn-outline-warning">Book flight</button></a>
Hrithika Dodia
{% endblock %}