.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 510px;
    margin: auto;
    text-align: center;
    font-family: 'Solway', serif;
    background: oldlace;
  }
  
  .general {
    color: grey;
    font-size: 20px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    background-color: tomato;
    text-align: center;
    cursor: pointer;
    width: 20%;
    font-size: 18px;
  } 
  
  .card button:hover {
    opacity: 0.7;
  }

  .card p button{
    display: inline-block;
  }
